.activity_manage {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px;
  flex: 1;
  .title {
    height: 28px;
    font-size: 24px;
    font-weight: bold;
  }
  .button {
    border: none;
    border-radius: 8px;
    background-color: #dbd2e0;
    text-align: center;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    cursor: pointer;
    opacity: 0.7;
  }

  .questions {
    display: flex;
    margin-bottom: 10px;
    .question {
      margin-right: 10px;
      width: 300px;
    }
    .delete_button {
      width: 60px;
    }
  }
}
