.container {
  width: calc(100vw - 40px);
  //height: calc(100vh - 32px);
  display: flex;
  padding: 16px;
  gap: 8px;

  .left_bar {
    width: 13%;
    min-width: 150px;
    background-color: rgba(0, 232, 0, 0.2);
    color: #292929;
    border-radius: 24px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    gap: 150px;
    padding: 60px 50px;
    animation: fromLeft 1s;
    .title {
      text-align: center;
      letter-spacing: 4px;
      font-size: 36px;
      cursor: pointer;
    }
    .menu {
      display: flex;
      height: 200px;
      flex-direction: column;
      justify-content: space-around;
      font-weight: 300;

      .menu_item {
        display: flex;
        gap: 8px;
        align-items: center;
        font-size: 24px;
        cursor: pointer;
        opacity: 0.5;
        &:hover {
          opacity: 1;
        }
        &.selected {
          font-weight: 800;
          opacity: 1;
        }
        .circle {
          width: 8px;
          height: 8px;
          background-color: darkgreen;
          border-radius: 50%;
        }
      }
    }

    .myPage {
      justify-self: flex-end;
      text-align: center;
      cursor: pointer;
      opacity: 0.5;
      &:hover {
        opacity: 1;
      }
    }
  }

  .right_container {
    width: 87%;
    min-width: 1050px;
    height: 100%;
    background-color: #FFFFFF;
    animation: fromTop 1s;

    .page_title {
      height: 40px;
      background-color: rgba(0, 232, 0, 0.1);
      padding: 20px;
      font-weight: 800;
      font-size: 30px;
      text-align: left;
      line-height: 40px;
      display: flex;
      justify-content: space-between;
      border-radius: 24px;

      .user_menu {
        display: flex;
        justify-content: space-between;
        width: 270px;
        .logout {
          border: none;
          border-radius: 8px;
          background-color: #dbd2e0;
          text-align: center;
          width: 100px;
          font-size: 20px;
          font-weight: 300;
          cursor: pointer;
          opacity: 0.7;
          &:hover {
            opacity: 1;
          }
        }
      }
    }
    .page_content {
      background-color: #FFFFFF;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
