.container {
  .btn_wrapper {
    margin: 20px;
    display: flex;
    justify-content: flex-end;
    .btn {
      border: 1px solid black;
      border-radius: 8px;
      color: blue;
      background-color: white;
      padding: 8px;
      font-size: 14px;
    }
  }
  .class_container {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .modal {
    .modal_container {
      width: 500px;
      height: 500px;
      border-radius: 10px;
      background-color: aqua;
      .code_input {
      }
    }
  }
}
