.container {
  animation: fadeIn 1s;

  .noClass {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 140px 0 40px;
    font-weight: bold;
    .title {
      font-size: 24px;
    }
    .subtitle {
      font-size: 20px;
    }
  }

  .btn_wrapper {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    .btn {
      border: none;
      border-radius: 8px;
      color: #fff;
      background-color: #00AB93;
      padding: 16px;
      font-size: 18px;
      font-weight: bold;
      opacity: 0.7;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }

  .class_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .title {
      font-size: 24px;
      font-weight: bold;
    }
    .class_wrapper {
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 50px;
    }
  }

  .modal {
    .modal_container {
      width: 500px;
      height: 500px;
      border-radius: 10px;
      background-color: aqua;
      .code_input {
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
