.default_question {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 700px;

  .question_wrapper {
    margin: 20px 0;
  }

  .question_title {
    display: flex;
    gap: 20px;
    .question_content {
      align-items: center;
      display: flex;
      width: 100%;
      border-radius: 8px;
      border: none;
      font-size: 20px;
      font-weight: bold;
    }
    .question_index {
      color: #40513B;
      font-weight: 800;
      width: 100px;
    }
    .question_weight {
      width: 100px;
    }
    .question_delete {
      opacity: 0.2;
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  .question_answers {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 110px;
    gap: 20px;
    .answer {
      display: flex;
      justify-content: center;
      max-width: 80px;
      border-radius: 16px;
      border: none;
      background-color: #EDF1D6;
      padding: 8px 16px;
      font-size: 14px;
      .cancel {
        text-align: right;
        font-weight: 800;
      }
    }
  }
}
