.default_question {
  min-width: 700px;
  .question_wrapper {
    margin: 20px 0px;
  }
  .question_title {
    display: flex;
    height: 50px;
    .question_content {
      align-items: center;
      display: flex;
      width: 200px;
      border-radius: 8px;
      border: none;
      background-color: #f1f1f1;
      padding: 8px;
      font-size: 14px;
    }
    .question_index {
      color: blue;
      font-weight: 800;
      width: 100px;
    }
    .question_weight {
      width: 100px;
    }
  }

  .question_answers {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 10px;
    margin-left: 100px;
    width: 450px;
    gap: 5px;
    .answer {
      display: flex;
      justify-content: center;
      max-width: 80px;
      border-radius: 8px;
      border: none;
      background-color: #f1f1f1;
      padding: 5px;
      font-size: 14px;

      .cancel {
        text-align: right;
        font-weight: 800;
      }
    }
  }
  .score_type_container {
    width: 85px;
    .score_type {
    }
  }
  .weight {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
    text-align: center;
    .question_weight {
      margin-left: 3px;
      outline: none;
      border: 1px solid black;
      width: 80px;
      text-align: center;
    }
  }
}
