.class_box {
  width: 200px;
  height: 200px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  .color_box {
    width: calc(100% - 32px);
    height: calc(70% - 32px);
    display: flex;
    justify-content: flex-end;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 16px;
  }
  .class_info {
    padding: 0 10px;
    .class_name {
      font-weight: 600;
      font-size: 20px;
    }
    .class_semester {
      font-size: 15px;
      font-weight: 500;
    }
  }
}
