.projectBox {
  width: 200px;
  height: 200px;
  box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  .colorBox {
    width: calc(100% - 32px);
    height: calc(70% - 32px);
    display: flex;
    justify-content: flex-end;
    background-color: green;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    padding: 16px;
    &:hover {
      -webkit-animation: shadow-drop-2-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
      animation: shadow-drop-2-center 0.4s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    }
  }
  .class_info {
    padding: 0 10px;
    .class_name {
      font-weight: 600;
      font-size: 20px;
    }
    .class_semester {
      font-size: 15px;
      font-weight: 500;
    }
  }
}

@-webkit-keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-2-center {
  0% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 0 0 transparent;
    box-shadow: 0 0 0 0 transparent;
  }
  100% {
    -webkit-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.35);
  }
}