.editProfile {
  display: flex;
  flex-direction: column;
  gap: 24px;
  .row {
    display: flex;
    .title {
      width: 200px;
      font-size: 24px;
      font-weight: bold;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}