.optionRadios {
  display: flex;
  flex-direction: column;
  font-weight: bold;

  .title {
    font-size: 24px;
    margin: 0 0 10px 5px;
  }

  .subTitle {
    font-size: 18px;
    margin: 0 0 10px 30px;
  }

  .selectBox {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    flex-direction: column;
    &.horizontal {
      flex-direction: row;
      width: 100%;
      gap: 30px;
    }
    .option {
      margin-top: 14px;
      display: flex;
      align-items: center;
      gap: 8px;
      cursor: pointer;
      color: #292929;
      .radioButton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #f8f9fb;
        &.checked {
          background-color: rgba(20, 114, 255, 0.1);
        }
      }
      .optionText {
        font-size: 18px;
        opacity: 0.5;
        min-width: 90px;
        &.checked {
          opacity: 1;
        }
      }
    }
  }
}
