.message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #EDF1D6;
  border-radius: 24px;

  .input {
    width: calc(100% - 30px);
    border: none;
    font-size: 16px;
    background-color: #EDF1D6;
    &:focus {
      outline: none;
    }
  }

  .send {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    .icon {
      width: 30px;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}