.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding: 120px;
  animation: fadeIn 1s;

  .logo {
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: bold;
    color: #609966;
    text-align: center;
    cursor: pointer;
  }

  .join {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 400px;
    padding: 30px 30px 10px;
    border-radius: 16px;
    background-color: #EDF1D6;
    box-shadow: 0 4px 16px 0 rgba(0, 232, 0, 0.1);
    animation: fromTop 1s;}
}