.activityChat {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px;
  flex: 1;

  .title {
    height: 28px;
    font-size: 24px;
    font-weight: bold;
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
    animation: fromTop 1s;
    .post {
      display: flex;
      flex-direction: column;
      gap: 8px;
      background-color: #fff;
      padding: 16px 24px;
      border-radius: 16px;
      .postInfo {
        display: flex;
        align-items: center;
        gap: 16px;
        .userIcon {
          font-size: 20px;
        }
        .time {
          font-size: 14px;
          opacity: 0.5;
        }
      }
      .content {
        font-size: 18px;
      }
      .comments {
        font-size: 16px;
        opacity: 0.5;
      }
    }
  }

  .message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: #fff;
    border-radius: 24px;
    .input {
      width: calc(100% - 30px);
      border: none;
      font-size: 16px;
      &:focus {
        outline: none;
      }
    }
    .send {
      width: 30px;
      opacity: 0.5;
      cursor: pointer;
      &:hover {
        opacity: 1;
      }
    }
  }
}

@keyframes fromTop {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}