@font-face {
  font-family: "Pretendard";
  src: url("../public/Pretendard-Regular.ttf");
}
.app {
  background-color: #f1f1f1;
  font-family: "Pretendard";
  color: black;
  line-height: 180%;
}

a:link {
  color: gray;
}
a:visited {
  color: white;
}
