.login {
  display: flex;
  flex-direction: column;
  gap: 16px;
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  .account_check {
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &.selected {
      opacity: 1;
    }
  }
}
