.container {
  width: 50vw;

  .header_container {
    display: flex;
    justify-content: space-between;
    .title {
      display: flex;
      align-items: center;
    }

    .delete_button {
      .btn {
        background-color: red;
        color: white;
        font-weight: 800;
        border: none;
        border-radius: 8px;
        width: 80px;
        height: 30px;
      }
    }
  }
  .name,
  .capacity,
  .startdate,
  .enddate {
    font-weight: 800;
  }

  .question_container {
    .menu {
      display: flex;
      justify-content: space-between;
      width: 70%;
      margin: auto;
      .btn {
        background-color: rgb(76, 76, 182);
        color: white;
        font-weight: 400;
        border: none;
        border-radius: 10px;
        height: 40px;
        width: 20%;
        margin-bottom: 10px;
      }
    }
    .question_wrapper {
      display: flex;
      justify-content: space-between;
      border: 2px solid rgb(76, 76, 182);
      .label {
        font-weight: 800;
        width: 20%;
        text-align: center;
      }
    }
    .question_value {
      display: flex;
      justify-content: space-between;
      div {
        width: 20%;
        text-align: center;

        div {
          width: 100%;
          text-align: right;
        }
      }
    }
  }
  .answer_container {
    label {
      font-weight: 800;
    }
  }
  .student_container {
    label {
      font-weight: 800;
    }
  }
  .team_container {
    label {
      font-weight: 800;
    }
  }
}
