.home {
  display: flex;
  flex-direction: column;
  gap: 120px;
  background-color: #40513B;
  padding: 30px 60px 60px;
  color: #FFFFFF;
  animation: fadeIn 1s;

  .body {
    display: flex;
    flex-direction: column;
    gap: 80px;
    .slogan {
      display: flex;
      flex-direction: column;
      gap: 64px;
      font-size: 64px;
      font-weight: bold;
      .line {
        letter-spacing: 2px;
        .highlight {
          color: #EDF1D6;
        }
      }
    }
    .functions {
      display: flex;
      gap: 30px;
      align-self: flex-end;
      .function {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        height: 250px;
        border-radius: 32px;
        padding: 32px;
        background-color: #EDF1D6;
        font-size: 24px;
        font-weight: bold;
        color: #292929;
        text-align: center;
        word-break: keep-all;
        letter-spacing: 1px;
        line-height: 1.5;
        &.bottom {
          margin-top: 100px;
        }
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}