.container {
  padding: 20px 0px;

  .questions {
    .custom_questions {
      .custom_questions_title {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .add_question_button {
    background-color: #dbd2e0;
    border: none;
    border-radius: 8px;
    text-align: center;
    width: 100px;
  }
  .button {
    display: flex;
    justify-content: flex-end;
  }
}
