.container {
  .duration {
    display: flex;
    .datepicker {
    }
  }
  .questions {
    .question {
      .question_title {
        display: flex;
      }
      .question_answers {
        display: flex;
      }
    }
  }
}
