.apply {
  display: flex;
  flex-direction: column;
  gap: 100px;
  height: 100vh;
  background-color: #fff;
  animation: fadeIn 1s;
  .header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 100px 300px;
    background-color: #bebebe;
    animation: fromLeft 1s;
    .title {
      font-size: 36px;
      font-weight: bold;
    }
    .subtitle {
      font-size: 24px;
    }
  }
  .questions {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 0 300px;
  }
  .button {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(-20px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}