.register {
  display: flex;
  flex-direction: column;
  gap: 16px;
  animation: fadeIn 1s;
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  .account_check {
    opacity: 0.5;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
    &.selected {
      opacity: 1;
    }
  }
  .privacyNotice {
    font-size: 12px;
  }
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}